spring:
  application:
    name: mall-product
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  redis:
    host: 47.115.76.70
    port: 6379

  datasource:
    url : jdbc:mysql://47.115.76.70:3306/mall_pms?useUnicode=true&characterEncoding=UTF-8
    driver-class-name : com.mysql.jdbc.Driver
    username : root
    password : root
  thymeleaf:
    cache: false

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto

server:
  port: 10000
